@import '~styles/reset.scss';
@import '~antd/dist/antd.css';

.app {
    width: 100vw;
    height: 100vh;

    .title {
        text-align: center;
    }

    .trigger {
        padding: 0 24px;
        font-size: 18px;
        line-height: 64px;
        cursor: pointer;
        transition: color 0.3s;
    }

    .trigger:hover {
        color: #1890ff;
    }

    .logo {
        height: 32px;
        margin: 16px;
        padding-left: 12px;
        overflow: hidden;
        line-height: 32px;
        background: rgba(200, 200, 200, 0.2);
        .logo_content {
            padding-left: 10px;
        }
    }

    .site-layout .site-layout-background {
        background: #fff;
    }
}
